@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.fade-in-delay-500 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

.fade-in-delay-1000 {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s;
}

/* Mantine Tab Styling */
.mantine-Tabs-list {
  display: flex;
  gap: 16px;
  border: none;
  margin: 32px 0;
  overflow: auto;
}

.mantine-Tabs-list button {
  flex: 1;
  border: 1px solid #E7E7E7;
  padding: 12px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  min-width: fit-content;
}

.mantine-Tabs-list button[aria-selected="true"] {
  background-color: #000000;
  color: #FFFFFF;
}

/* Mantine Input Feild Styling */
.mantine-Input-input {
  height: 50px !important;
  padding: 14.5px 20px;
  border: 1px solid #E7E7E7
}

.mantine-InputWrapper-label {
  margin-bottom: 10px;
  color: #262D33;
  text-align: 14px;
  line-height: 150%;
}

/* Mantine Modal Styling */
.mantine-Paper-root {
  min-width: 50vw;
}

.mantine-Modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #191919;
}

.mantine-Modal-close {
  color: #262D33;
  font-size: 24px;
}

.admin .mantine-PasswordInput-label,
.admin .mantine-TextInput-label {
  color: #fff !important;
}

.admin .mantine-Input-input,
.admin .mantine-PasswordInput-innerInput {
  color: #fff !important;
  background: transparent;
}